@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,800&display=swap');


/* Colors */
$success: #519C66;     /* Success color for positive messages */
$warning: #CC5F5F;     /* Warning color for alert messages */
$gray: #E1E2E9;        /* Gray color for neutral elements */
$white: #FFFFFF;       /* White color for backgrounds and text */
$main-background: #020B22; /* Main background color */
$sec:#154e7d;           /* Secondary color used for Loading*/
$theme-green: #00E589; /* Theme color for special elements */
$black: #000000;       /* Black color for text and elements */


.text-white {
    color: $white;
}
.bg-white {
    background-color: $white;
}

.text-warning {
    color: $warning;
}

.bg-warning {
    background-color: $warning;
}

.text-success {
    color: $success;
}

.bg-success {
    background-color: $success;
}

.text-gray {
    color: $gray;
}

.bg-gray {
    background-color: $gray;
}


/*Typography*/

html {font-size: 100%;} /*16px*/

body {
  background: $main-background;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 1.75;
  color: $black;
}

a{
  color: $theme-green;
}
main{
  background-color: $main-background;
}

p {
    margin-bottom: 1rem;
    color: $white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.3;
  color: $white;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 42px;
    margin-bottom: 8px;
    color: $white;
}


h2  {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
}

h3 {font-size: 1.215rem;}

h4 {
  font-size: 15px;
  font-weight: 300;
  color: $theme-green;
  letter-spacing: 0em;
  line-height: 30px;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  color: $theme-green;
  letter-spacing: 0em;
}

small, .text_small {font-size: 0.937rem;}

a, button{
  cursor: pointer;
}


/*Buttons*/
.btn {
  font-weight: bold;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 12px;
  text-transform: uppercase;
  height: 30px;
  width: 80px;
  text-align: center;
  line-height: 16px;

  &-primary {
    background-color: $theme-green;
    color: $main-background;

    &--bet {
      width: 100%;
      height: 50px;
      padding: 14px 16px;
    }
  }
  &-secondary {
    border: 2px solid $theme-green;
    color: $theme-green;
    background: none;
  }

  &-terciary{
    font-size: 14px;
    margin: 0 0.5em;
    background: none;
    color: $theme-green;
    font-weight: 500;

  }
  &-quaternary{
    font-size: 14px;
    width: 100%;
    max-width: 250px;
    border-radius: 30px;
    height: 45px;
    background: $white;
    color: $main-background;
    font-weight: 700;
  }
}
