/* The code defines styles for a responsive grid system using flexbox */

.container {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col {
    min-height: 20px;
    justify-content: center;
    

  }
  
  $columns: 12;
  
  @for $i from 1 through $columns {
    .col-#{$i} {
      @extend .col;
      width: calc(100% / $columns * $i);
      padding: 2em;
    }
  
    @media screen and (max-width: 768px) {
      .col-#{$i} {
        width: calc(100% / 2);
      }
    }
  
    @media screen and (max-width: 480px) {
      .col-#{$i} {
        width: 100%;
      }
    }
  }
  