@import 'styles/partials/reset';
@import 'styles/partials/colors';
@import 'styles/partials/typography';
@import 'styles/partials/grid';
@import 'styles/partials/module';
@import 'styles/components/menu';
@import 'styles/partials/buttons';

header {
    width: 100%;
    background-color: $white;
    align-items: center;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-logo{
    background-color: $white;
    padding: 12px;
    height: 35px;
    display: contents;
    img{
        width: 35px;
        height: auto;
    }
}
.wrapper{
    text-align: center;
    margin: 30px;
}

.form-password{
    text-align: right;
}

.form-container{
    padding: 20px;
    border-radius: 10px;
    background:  $white;
    margin: 64px auto;
    width: 100%;
    max-width: 350px;
    .container-footer{
        text-align: center;
        margin: 15px;
    }

    a{
        color: map-get($primary, "100");
        font-size: 10px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        font-weight: 300;
    }
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    gap: 12px;
    margin: 10px 0;
    border-radius: 10px;
    height: 50px;
    background-color: $main-background;
    .icon-eye{
        width: 15px;
    }
    input{
        margin: 10px 0;
        padding: 25px 30px;
        width: 100%;
        height: 30px;
        background-color: $main-background;
        border: none;
        border:0;
        flex-grow: 1;
        padding: 12px 0;
        outline: none;
        &::placeholder { 
            color: map-get($black, "10");
          }

    }

  }

span{
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: map-get($black, "30");
}


