@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;1,500&display=swap');

html, body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  line-height: 1;
  font-size: 14px;
}

body {
  background-repeat: no-repeat;
  height: 100vh;
  background: linear-gradient(41deg, rgba(218, 64, 42, 1) 0%, rgba(126, 31, 170, 1) 100%);
}

.orange-section {
  background: linear-gradient(42deg, rgba(180, 58, 61, 1) 0%, rgba(186, 55, 58, 1) 0%, rgba(253, 29, 29, 1) 34%, rgba(255, 255, 145, 1) 100%);
  border-radius: 15px 15px 0px 0px;
}

.main-block {
  border-radius: 20px;
  margin: 40px auto;
  width: 30%;
  box-shadow: 3px 5px 5px black;
  background: white;
  animation: rotation 4s infinite linear;
}
@keyframes rotation {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

.header-block {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.main-content h1, .main-content p {
  padding: 0 15px;
}

.main-content__image {
  position: absolute;
  width: 70%;
  top: 30%;
  left: 40%;
}

.footer-block {
  height: 40%;
  padding: 15px;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  position: relative;
  color: black;
}

.air-background__text {
  font-size: 320px;
  border: 1px white;
  background: linear-gradient(42deg, rgb(89 11 13) 0%, rgb(192 61 190) 0%, rgb(203 46 46) 34%, rgba(255, 255, 145, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-spacing: 5px;
}

.footer-block__button {
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 0;
  width: 90px;
  padding: 15px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.footer-block__button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.footer-block__button:active {
  box-shadow: none;
  transform: translateY(0);
}

.footer-block__category {
  color: grey;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 20px;
  letter-spacing: 12px;
}
