$gap: 8px;

.module {
    background: $white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: $gap;
    box-sizing: border-box; 
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 12px 6px 12px;

        span{
            color: map-get($black, "30");
            font-weight: 200;
        }
    }
    &__body {
        display: flex;
        min-height: 10px;
        height: 120px; 
        text-align: left;
        padding: 6px 12px 12px 12px;
        align-items: end;
        gap: 60px;
        
        .module__txt {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
    
        }
    

    }
}

// modifiers
.module {
    &--radius {
         border-radius: 12px;
    }
}

.module {
    &--transparent {
        background-color: $dashboard-background;
        width: 100%;
        max-width: 260px;
        margin: 10px auto;
        max-height: 200px;
        height: 100%;
    }
    &--caption {
        width: 100%;
        margin: 20px auto;

        .retention{
            &:before {
                content: "";
                display: inline-block;
                width: 9px;
                height: 9px;
                margin-top: 4px;
                margin-right: 5px;
                border-radius: 50%;
                background-color: map-get($secondary, "100");

            }
        }
        .purchase{
            &:before {
                content: "";
                display: inline-block;
                width: 9px;
                height: 9px;
                margin-top: 4px;
                margin-right: 5px;
                border-radius: 50%;
                background-color: map-get($primary, "50");
            }
        }
        .acquisition{
            &:before {
                content: "";
                display: inline-block;
                width: 9px;
                height: 9px;
                margin-top: 4px;
                margin-right: 5px;
                border-radius: 50%;
                background-color: map-get($primary, "100");
            }
        }
    }
    &--summary {
        height: 300px;
    }
    &--blue {
        background-color: map-get($primary, "100");
        h4, p, span, i, img{
            color: $white;
        }
        
    }
    &--graph {
        width: 100%;
        height: 100%;
        position: relative;

        .graph{
            display: flex;
            margin: 10px auto;
            max-height: 200px;
            height: 100%;
            justify-content: space-evenly;
            //position: relative;
        
            .grey-bar{
                background-color: $dashboard-background;
                border-radius: 10px;
                width: 15px;
                margin: 10px 0;
                min-height: 200px;
                height: 100%;
                
            }
            .blue-bar{
                background-color: map-get($primary, "100");
                border-radius: 10px;
                position: absolute;
                display: flex;
                width: 15px;
                margin: 10px 0;
                height: 100%;
            }
            .bar--1 {
                /* border: 2px solid orange; */
                /* margin-bottom: 1px; */
                height: 170px;
                position: absolute;
                top: 40px;
            }
            .bar--2 {
                height: 75px;
                position: absolute;
                top: 135px;
            }
            .bar--3 {
                height: 120px;
                position: absolute;
                top: 90px;
            }
            .bar--4 {
                height: 50px;
                position: absolute;
                top: 160px;
            }
            .bar--5 {
                height: 150px;
                position: absolute;
                top: 60px;
            }
            .bar--6 {
                height: 170px;
                position: absolute;
                top: 40px;
            }
            .bar--7 {
                height: 150px;
                position: absolute;
                top: 60px;
            }
            &-info ul li {
                margin: 20px 0;
                font-size: 11px;
                width: 0px;
            }
        }
    
    }
}

.container--orders{
    height: 100%;
    margin: 5px auto;
    text-align: center;
    max-height: 40px;

    .buttons{
        button{
            margin: 20px auto;
        }
        
    }
}

.orders{
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $white;
    min-width: 225px;

    span{
        text-align: left;
        font-size: 10px;
    }
    i{
        font: 12px;
        color: map-get($black, "80");
    }
    img{
        height: 30px;
        margin: 5px;
        width: 30px;
    }
    .flex{
        display: grid;
    }
}

.header__flex{
    display: flex;
    gap: 15px;
}

select{
    border: none;
    background: rgba(85, 112, 241, 0.08);
    border-radius: 8px;
    color: map-get($primary, "100");
    width: 70px;
}

//segunda página - criar styles
.col {
   
    &-acquisition{
        background: map-get($primary, "100");
        width: 25%;
        height: 200px;
        max-height: 300px;
        text-align: right;
        text-align: end;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color:  map-get($black, "50");

        i{
            display: flex;
            height: 200px;
            align-items: end;
            justify-content: end;
            text-align: right;
        }
    }
    &-retention{
        background: map-get($secondary, "100");
        width: 50%;
        height: 200px;
        max-height: 300px;
        text-align: right;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color:  map-get($black, "50");

        i{
            display: flex;
            height: 200px;
            align-items: end;
            justify-content: end;
            text-align: right;
        }
    }
    &-purchase{
        background: map-get($primary, "50");
        width: 25%;
        height: 200px;
        max-height: 300px;
        text-align: right;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color:  map-get($black, "50");

        i{
            display: flex;
            height: 200px;
            align-items: end;
            justify-content: end;
            text-align: right;
        }
    }

}


