@import '../../scss/variables';

.header {
  background-color: $main-background;
  padding: 1em 0;
  &__logo {
    img {
      height: 90px;
      border-radius: 50%;
    }
  }
  &__navigation {
    padding: 0 5em 0 0;
    display: flex;
    gap: 25px;    
    @media screen and (max-width: 860px) {
      justify-content: center;
      padding: unset;
    }    
  }
  @media screen and (max-width: 860px) {
    display: block;
    justify-content: center;
  }
  &__inner {
    padding: 2em 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    @media screen and (max-width: 860px) {
      justify-content: center;
      margin-bottom: 8px;
    }
  }
}
