// SCSS code for loading animation
// This code defines a loading animation with three layers - outer, middle, and inner.
// The animation rotates the middle layer continuously.
// The code uses variables from the 'variables.scss' file.

@import '../../scss/variables';

.loading {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: $main-background;

  &-outer {
    margin: 25% auto;
    height: 100px;
    width: 100px;
  }

  &-middle {
    height: 60px;
    width: 60px;
    margin: auto;
    position: relative;
    top: 20px;
    border-radius: 50%;
    background-image: linear-gradient(150deg, transparent 50%, $sec 50%), linear-gradient(90deg, $sec 50%, $theme-green 50%);
    animation: rotation 1200ms infinite linear;
    -webkit-animation: rotation 1200ms infinite linear;
    transform-origin: 50% 50%;
    animation-timing-function: ease;
    @keyframes rotation {
        from {
          -webkit-transform: rotate(270deg);
        }
        to {
          -webkit-transform: rotate(630deg);
        }
      }

    @-webkit-keyframes rotation {
      from {
        -webkit-transform: rotate(270deg);
      }
      to {
        -webkit-transform: rotate(630deg);
      }
    }
  }

  &-inner {
    background: $main-background;
    height: 48px;
    width: 48px;
    margin: auto;
    position: relative;
    top: 6px;
    border-radius: 50%;
  }
  &.hidden {
    display: none;
  }
}