@import '../../scss/variables';

.pop-tab {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $main-background;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-height: 600px;
  overflow: scroll;
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &-content {
    position: relative;

    p {
      text-transform: uppercase;
      font-size: 20px;
      padding: 1em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .wrapper-list {
      ol {
        counter-reset: list-item;
        list-style: none;
        padding: 0;

        li {
          color: $white;
          text-align: left;
          font-size: 12px;
          padding: 12px;
          display: flex;

          &::before {
            content: counter(list-item) " ";
            font-family: "Poppins";
            margin-right: 20px; 
            font-style: italic;
            font-weight: 700;
            font-size: 40px; 
            line-height: 1;
            color: #020b22;
            text-shadow: -1px 0 #00e589, 0 1px #00e589, 1px 0 #00e589, 0 -1px #00e589;
            counter-increment: list-item;
          }
        }
      }
    }
  }

  .circle {
    position: sticky;
    top: 0;
    left: 100%;
    width: 30px;
    height: 30px;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;

    &:before {
      content: 'X';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media screen and (max-width: 768px) {
 
      h1{
        font-size: 26px;
      }
      p{
        font-size: 16px;
      }
      
    

    }
   
}
