.vertical-menu-wrapper {
    width: 100%;
    min-width: 250px;
  

  }

.vertical-menu-logo{
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    align-items: center;
    gap: 10px;
    padding: 5px;
}


.vertical-menu{
  height: 100%;
  min-height: 600px;
  width: 100%;
  max-width: 220px;
  height: 45px;
  border-radius: 10px;
  margin: 5px auto;

     
    a{ //obrigada Cátia
      padding: 10px; 
      line-height: 2.5;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      font-size: 13px;
      color: map-get($black, "50");
      

      &:hover{
        background-color:map-get($primary, "100");
        color: $white;
      
    }
 
    &[data-title]:after {
      content: attr(data-title);
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      margin-top: 4px;
      margin-right: 5px;
      border-radius: 50%;
      background-color: map-get($secondary, "100");


    }

  }

}

.content-wrapper{
  font-size: 15px;

  .content{
    margin: auto;
    a{
      color: $warning;
      padding: 12px;
      margin: 12px;
      display: flex;
      
    }

  
  }

}

  .pop-up{
      width: 233px;
      height: 82px;
      margin: auto;
      padding: 15px;
      background: rgba(255, 204, 145, 0.2);
      border-radius: 16px;

    i{
      color:  map-get($black, "50");
    }
  }