@import "../../scss/variables";

.search-wrapper {
  .search-container {
    width: 300px;
    position: relative;
    input {
      outline: none;
      background-color: $theme-green;
      border: none;
      border-radius: 30px;
      padding: 0 15px;
      height: 30px;
      width: 0px;
      box-sizing: border-box;
      transition: all 0.7s ease-in-out;
      position: absolute;
      top: 0;
      right: 0;
    }

    ::-webkit-input-placeholder {
      color: $main-background;
    }
    ::-moz-input-placeholder {
      color: $main-background;
    }
    ::-ms-input-placeholder {
      color: $main-background;
    }
    ::-o-input-placeholder {
      color: $main-background;
    }

    input.focused {
      width: 100%;
    }
    #search-button {
      position: absolute;
      background: $theme-green;

      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      font-size: 20px;
      top: 0;
      right: 0;
      outline: none;
      color: $main-background;
      transition: all 0.5s ease;
    }
  }
  @media screen and (max-width: 860px) {
    display: none;
  }
}
