@import '../../scss/variables';

.header {
  background-color: $main-background;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media screen and (max-width: 860px) {
    display: block;
    justify-content: center;
  }

  &__logo {
    img {
      height: 15px;
    }
  }

  &__inner {
    padding: 2em 6em 0;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    @media screen and (max-width: 860px) {
      justify-content: center;
      margin-bottom: 8px;
    }
  }
  &__nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      width: 100%;
      gap: 15px;
      margin: 0;
      padding: 0;

      li {
        margin-right: 20px;

        a {
          text-decoration: none;
          color: $white;
          font-weight: bold;
        }
      }
    }
  }
  &__user {
    padding: 0 5em 0 0;
    display: flex;
    gap: 8px;    
    @media screen and (max-width: 860px) {
      justify-content: center;
      padding: unset;
      

    }    
  }
}
