# Node.js
node_modules/

# Build files
build/
dist/
out/

# Environment variables
.env*

# IDE/Editor settings
.vscode/
.idea/

# Log files
*.log

# Dependency lock files
yarn.lock
package-lock.json

# Compiled files
*.log
*.json
*.lock
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride
