@import '../../scss//variables';

.promo-wrapper{
    color: $white;
    padding: 4em;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        padding: unset;
        margin: 50px auto;
      }

    a{
        color: $theme-green;
    }
}