@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Inter';
	font-style: normal;
	
}
h1{
	font-family: 'Inter';
	font-weight: 700;
	font-size: 64px;
	line-height: 77px;
	text-align: center;
	padding: 12px;

}
h2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	padding: 12px;

}
h3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 48px;

}
p {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
	color: black;
}
a:hover {
	cursor: pointer;
}
.section2{
	background-color: #F5F5F5;
}

.bgWhite{
	background-color: white;
	height: 40%;
	padding: 50px;
	max-width: 1440px;
    margin: 0 auto;
	
}
.bgGrey{
	background-color: #F5F5F5;
	display: inline-block;
	height: 50vh;
	width: 100%;
	position: relative;
}

.section{
	height: 90vh;
	text-align: center;
	
}
.container-section{
	padding: 60px;
	width: 100%;
    max-width: 1440px;  
    margin: 0 auto;
}

.container-header{
    display: flex;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
	border-bottom: 1px solid grey;
}
.logo{ 
	width: 100px;
}  
.menu ul {  
	list-style-type: none;  
	display: flex;
	font-size: 15px; 
	padding: 10px 20px 0 10px;  
}  
.menu li{
	list-style-type: none;
	padding-right: 30px;

}

.btn{
	border: none;
	align-items: center;
	padding: 8px 16px;
	max-width: 150px;
	height: 35px;
}
video{
	width: 60%;
}
.btn-light{
	color: black;
	background-color: white;
}
.blackBtn{
	color: white;
	background-color: black;
}
.blueBtn{
	background-color:  #0064DA;
	color: white;
}
.watchMore{
	border-radius: 15px;
	position: absolute;
	transform: translate(-35%, -40%);
	
	
}
.section1Buttons{
	padding:20px;
}

span{
	font-size: 10px;
}

.bloco{
	width: 15%;
    min-height: auto;
    font-size: 14px;
	max-width: 305px;
    height: 200px;
    min-height: auto;
    /* flex-grow: 6; */
    margin: 10px;
    flex-basis: 25%;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
}

.circle{
	width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    background-color: #0064DA;
    border-radius: 50%;
}
.section4Buttons{
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.subSectionBgd img{
	width: 60%;
	min-width: 50%;
	position: relative;
}
.imgBg{
	position: relative;
}
.blocoS{
	background: #C4C4C4;
	border-radius: 2px;
	font-size: 10px;
	width: 100%;
	height: auto;
}
.grid {
    margin: 36px auto;
    align-items: center;
    width: 60%;
    /* margin: auto; */
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    top: -20%;
    position: absolute;
    left: 25%;
}
.gridSection{
	display: flex;
    gap: 20px;
    width: 70%;
    margin: 32px auto;
}

.blueBlock{
    background-color:#0064DA;
	color: white;
    display: inline-flex;
    padding: 20px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    display: flex-inlne;
}

.s4Btn{
	border-radius: 15px;
}
.s4Btn:hover{
	background-color: #0064DA;
	color: white;
}
footer{
	display: flex;
	justify-content: space-around;
	max-height: 300px;
	padding: 50px;
}

.bloco:hover {
	background-color:#0064DA;
	color: white;
}

.bloco:hover .circle {
	background-color: white;
}

.user{
	background-color: #FFFFFF;
	line-height: initial;
    text-align: left;
	
}

.form{
	display: flex;
	gap: 10px;
}

input{
	height: 35px;
}

.buttonsS{
	margin: 0;
    display: inline-flex;
    padding: 0;
}

.grey{
	height: 200px;
    background: #C4C4C4;
}

.blueSection{
	text-align: center;
}
.footer--container {
    display: flex;
    justify-content: space-around;
	gap: 30px;
}


@media only screen and (max-width: 844px) {
	
	.menu {
		display: none;
	}
	.section {
		height: 80%;
	}
	.container-section{
		padding: 25px;
	}
	h1{
		font-size: 35px;
		line-height: 60px;
	}
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 14px;
		line-height: 23px;
	}
	video {
		width: 100%;
	}
	section {
		height: 65vh;
		text-align: center;
	}
	.watchMore {
		transform: translate(-50%, -40%);
	}
	.subSectionBgd img {
		width: 100%;
	}
	.bgWhite {
		height: 60%; 
	}
	.blueBlock {
		padding: 40px;
		width: 100%;
		height: 200px;
	}
	.section {
		height: 80%;
		text-align: center;
	}
	.bgGrey {
		height: 100vh;
		
	}
	.bloco {
		
		font-size: 14px;
		
		flex-grow: 1;
		margin: 10px;
		flex-basis: 30%;
		
		padding: 10px;
		background: #FFFFFF;
		border: 1px solid #DFDFDF;
		border-radius: 4px;
	}
	.grid {
		margin: 36px auto;
   
    width: 98%;
    margin: auto;
   
    flex-wrap: wrap;
    display: flex;
    top: 1%;
    position: absolute;
    left: 1%;
	}
	.blueSection{
		height: 30vh;
	}
	footer{
		display: inline-block;
		font-size: 12px;
	}

	.footerImg img{
	
			padding: 30px;
			width: 180px;
			display: block;
			margin: 0 auto;
		
	}
	.gridSection {
		
		width: 60%;
		
		flex-wrap: wrap;
		display: flex;
		
	}

	
  }
