@import "../../scss/variables";

.thumbnail {
    position: relative;
  h2 {
    text-transform: capitalize;
  }

  &-id {
    color: $white;
    background-color: $accent-color;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    top: -25px;
    right: -15px;
    font-size: 0.8em;
  }
}
