.bets-wrapper{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    .row{
        justify-content: center;

        .item-wrapper{
            border-radius: 10px;
             width: 100%;
           
            &:hover{
             box-shadow: #00e589 0px 7px 29px 0px;
            }
         img{
             width: 100%;
             object-fit: cover;
             border-top-left-radius: 6px;
             border-top-right-radius: 6px;
         }
     }

    }
    
}


